<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924413303774-bk3pvttjj3rh0688a91ui86h0sddfcqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924413303774-bk3pvttjj3rh0688a91ui86h0sddfcqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDgwm9C2YvbMDh4Zfk71Byg390oFRIzjzA</string>
	<key>GCM_SENDER_ID</key>
	<string>924413303774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testgooglesignin</string>
	<key>PROJECT_ID</key>
	<string>signin-9ab27</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-9ab27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924413303774:ios:7607b3dba982981aea9b4f</string>
</dict>
</plist>